* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Copyright Klim Type Foundry", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: 100;
    font-family: "Tiempos Headline Light", serif;
}

.f {
    display: flex;
}

.aic {
    align-items: center;
}

.jcb {
    justify-content: space-between;
}

.rel {
    position: relative;
}

.outer-container {
    margin-bottom: 60px;
}

.inner-container {
    margin: 0 50px;
    height: 800px;
}

.link {
    position: relative;
    display: inline-block;
}

.link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center left;
    transition: all 0.8s ease;
}

.link:hover::after {
    transform: scaleX(1);
}

.overlay::before {
    content: "";
    background: black;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    opacity: 0.25;
    height: 100%;
    width: 100%;
}

.delay {
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.u-link {
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 9px;
    padding: 5px 0;
}

.u-link:hover {
    text-decoration: none;
}

.u-link.link::after {
    bottom: -1.5px;
}

.background-pic {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background-pic img {
    width: 100%;
    position: absolute;
}

.hi {
    height: 100%;
}

/*-----HEADER-----*/
.header {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    border-bottom: 1px solid #242424;
    background: white;
}

.header-container {
    height: 80px;
}

.header-block {
    margin: 0 50px;
    height: 100%;
}

.nav-panel{
    font-size: 14px;
    height: 100%;
}

.nav-panel > li {
    height: 100%;
    margin: 0 13px;
}

.nav-panel-item:first-child {
    margin-left: 0;
}

.nav-panel-item .link::after {
    background-color: black;
}

.nav-panel-item ul li .link::after {
    background-color: #da2924;
    bottom: -4px;
}

.arrow-icon {
    width: 10px;
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
}

.nav-panel-item:hover .arrow-icon {
    transform: rotateX(180deg);
    transition: all 0.1s ease;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: white;
    top: 81px;
    left: -25px;
    border: 1px solid #e6e6e6;
    width: 160px;
    padding: 20px 25px 23px 20px;
    opacity: 0;
    visibility: hidden;
}

.dropdown-content li {
    margin-bottom: 17px;
    font-size: 15px;
}

.dropdown-content li:last-child {
    margin-bottom: 0;
}

.nav-panel li:hover > ul,
.dropdown-content:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    transition: all 0.5s ease;
}

.logo-link img{
    height: 30px;
}

.store-link {
    background-color: white;
    border: 1px solid #eb5757;
    border-radius: 30px;
    padding: 7px 22px 8px;
    margin-left: 25px;
    font-size: 14px;
}

.store-link:hover {
    background-color: #da2924;
    border-color: #da2924;
    color: white;
    transition: all .25s ease;
}

/*-----MAIN-----*/

.introducing-back-straw-block {
    height: 75vh;
    background-image: url("https://oishii.com/cdn/shop/files/2023.02_JFONG_Oishii_Koyo_Berry_High_Res_002_2160x.jpg?v=1677255226");
    background-size: cover;
    background-position: 50%;
    z-index: 0;
}

.introducing-outer-container {
    padding-top: 80px;
}

.introducing-inner-container {
    margin: 0 50px;
}

.introducing-block {
    padding: 60px 0;
    color: white;
}

.introducing-block h1{
    font-size: 40px;
    display: block;
    width: 380px;
    margin-bottom: 5px;
}

.introducing-block p {
    font-size: 14px;
    width: 380px;
    margin:5px 0 15px;
    line-height: 19px;
}

.press-logo-container {
    padding: 51px 0;
}

.press-logo-block {
    margin: 0 43px;
    justify-content: center;
}

.press-logo-item {
    margin: 8px 0;
    padding: 0 40px;
}

.press-logo-item img {
    height: 26px;
}

.berries-types {
    color: white;
}

.image-text-container {
    padding: 60px 20px;
    width: 50%;
}

.berries-types .overlay::before {
    opacity: 0.2;
}

.berries-types .background-pic img {
    top: -20px
}

.berries-types .background-pic.omakase img  {
    top: -60px
}

.text-content {
    margin: 0 100px;
    text-align: center;
}

.text-content h2 {
    font-size: 32px;
    margin-bottom: 5px;
}

.text-content p {
    font-size: 14px;
    padding: 0 20px 30px;
}

.text-content a {
    margin-top: 545px;
}

.washington .image-container,
.about-all-berries .image-container {
    width: 50%;
}

.washington .text-container,
.about-all-berries .text-container {
    height: 100%;
    width: 51%;
}

.washington .background-pic img {
    top: -145px
}

.washington .text-container {
    background-color: #f0ece1;
    padding: 120px;
}

.washington h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.washington p {
    font-size: 14px;
}

.washington a,
.about-all-berries a {
    text-decoration-color: #da2924;
    margin-top: 15px;
}

.washington a.link::after,
.about-all-berries a.link::after {
    background-color: #da2924;
}

.about-all-berries .text-container {
    padding: 30px 120px 30px 50px;
}

.about-all-berries h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.about-all-berries h3 {
    font-size: 24px;
    line-height: 29px;
}

.about-all-berries .background-pic img {
    top: -110px;
}

.collaboration-block .background-pic img {
    top: -15px
}

.collaboration-body {
    padding: 50px 50px 60px;
    color: white;
}

.collaboration-inner {
    justify-content: center;
}

.collaboration-logos {
    min-width: calc(50% - 315px);
    padding: 0 55px 20px 62px;
    flex-direction: column;
    justify-content: center;
}

.collaboration-logos img {
    width: 98px;
}

.collaboration-logos .logos-item:nth-child(2) {
    margin: 20px 0;
    font-size: 14px;
}

.collaboration-photo {
    min-width: 520px;
    margin: 0 55px;
    justify-content: center;
}

.collaboration-photo img {
    display: block;
    height: 100%;
    overflow: hidden;
}

.collaboration-content {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-width: calc(50% - 315px);
}

.collaboration-content h2 {
    font-size: 32px;
    margin-bottom: 5px;
}

.collaboration-content p {
    font-size: 14px;
    max-width: 269px;
    margin: 0 auto 15px;
}

.collaboration-content a {
    margin: 0 auto 5px;
}

.our-story.outer-container {
    margin-bottom: 50px;
    color: white;
}

.our-story .background-pic img {
    top: -828px
}

.background-pic-container.overlay::before {
    opacity: 0.32;
}

.our-story-block {
    padding: 50px;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.our-story-header {
    width: 380px;
    margin: 0 auto 29px;
}

.our-story-header img {
    position: absolute;
    top: 50%;
    width: auto;
    height: 95px;
    transform: translate3d(0,-50%,0);
}

.our-story-header img:first-child {
    left: 0;
}

.our-story-header img:last-child {
    right: 0;
}

.our-story-header h2{
    max-width: 225px;
    margin: 0 auto;
    font-size: 32px;
}

.our-story-block a {
    padding-top: 0;
    margin: 0 auto;
}

/*-----FOOTER-----*/

.footer {
    background-color: #da2924;
    color: white;
    font-size: 13px;
}

.footer-container {
    padding: 60px 0;
}

.footer-block {
    margin: 0 40px;
}

.footer-block > div{
    padding: 0 12px;
}

.footer-logo-block {
    width: 23%;
}

.footer-logo-img {
    width: 150px;
}

.footer-lists-block {
    width: 34%;
    grid-column-gap: 14px;
    column-gap: 14px;
}

.footer-lists-block ul{
    flex: 1 1 50%
}

.footer-lists-block ul li{
    padding-bottom: 17px;
}

.footer-lists-block ul li:first-child{
    font-weight: 600;
    font-size: 18px;
}

.footer-sign-up-form-block {
    width: 43%;
}

.form-header p:first-child {
    font-size: 22px;
    margin: 0 0 20px
}

.form-header-description {
    width: 335px;
    font-size: 14px;
    line-height: 17px;
}

.email-number-form {
    padding: 14px 0;
}

.email-number-form input {
    width: 42%;
    background: #da2924;
    border: 1px solid white;
    border-radius: 30px;
    padding: 12px 20px 12px 15px;
    font-family: inherit;
    font-size: 14px;
}

#email:hover {
    border-color: black;
}

.email-number-form input::placeholder {
    color: white;
    font-weight: 500;
}

.sign-up-button {
    background: none;
    border: none;
    color: white;
    font-family: inherit;
    font-size: 14px;
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 6px;
    cursor: pointer;
}

input:focus-visible {
    outline: none;
}

.form-ending {
    font-family: "Arial", sans-serif;
    font-size: 11px;
    line-height: 15px;
}

.footer-bottom-container {
    padding: 25px 0;
    border-top: 1px solid white;
}

.footer-bottom-block {
    padding: 0 50px;
}

.social-networks li {
    margin-right: 22px;
}

.social-networks svg {
    width: 16px;
}

.social-networks .icon-tiktok svg {
    width: 13px;
}

.middle-part {
    grid-column-gap: 23px;
    column-gap: 23px;
}

.dot {
    margin: 0 3px;
}
